/**
 * ---------------------------------------------------------------------------------------
 * Colors: PINK ROSE
 * ---------------------------------------------------------------------------------------
 */


/**
 * --------------------------------------------------
 * Caption Styles
 * --------------------------------------------------
 */
.grid figcaption a {
  background: #D770AD;
}

.grid figcaption {
  background: #434A54;
}

/**
 * --------------------------------------------------
 * Typography
 * --------------------------------------------------
 */
.block-title:before,
.block-title-small:before {
  color: #D770AD;
}

.textcolor {
  color: #D770AD;
}

/* Blockquotes */
blockquote {
   border-left: 1px solid #D770AD;
}

blockquote.pull-right {
   border-right: 1px solid #D770AD;
}

/**
 * --------------------------------------------------
 * Links
 * --------------------------------------------------
 */
a {
  color: #D770AD;
}

li a.active {
  color: #D770AD;
}

/**
 * --------------------------------------------------
 * Regions
 * --------------------------------------------------
 */

/**
 * Regions -> footer columns
 * --------------------------------------------------
 */
#footer-four-columns a:hover,
#footer-four-columns a:focus {
  color: #D770AD;
}

/**
 * Regions -> footer
 * --------------------------------------------------
 */
footer a:hover,
footer a:focus {
  color: #D770AD;
}

/**
 * --------------------------------------------------
 * Menu
 * --------------------------------------------------
 */

/**
 * Main navigation
 * --------------------------------------------------
 */
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #c8cacb;
  background: #35393b;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: #D770AD;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  color: #fff;
}

li.dropdown:hover > a {
  color: #c8cacb;
  background: #35393b
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #fff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #D770AD;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #c8cacb;
  background: #35393b;
}

/**
 * Admin menu
 * --------------------------------------------------
 */
.nav-filter > li > a:hover,
.nav-filter > li > a:focus,
.nav-filter > .active > a,
.nav-filter > .active > a:hover,
.nav-filter > .active > a:focus {
  color: #D770AD;
}

/**
 * --------------------------------------------------
 * Slider
 * --------------------------------------------------
 */

.sequence-preloader .preloading .circle {
    fill: #D770AD;
}

/**
 * --------------------------------------------------
 * Portfolio
 * --------------------------------------------------
 */
.portfolio-item:hover .portfolio-title {
  border-bottom: 1px solid #D770AD;
}

.portfolio-item .portfolio-title a:hover {
  color: #D770AD;
}

/* Portfolio Block Version 2 */

.portfolio-block-2 .portfolio2-item a {
  background: #D770AD;
}

/**
 * --------------------------------------------------
 * Blocks
 * --------------------------------------------------
 */

/**
 * Box Style
 * --------------------------------------------------
 */
.box-style .icon span {
  color: #D770AD;
}

.box-style .icon {
  background: #FFF;
  border: 1px solid #D770AD;
}

.box-style .icon:hover {
  background-color: #D770AD;
}

.box-style .icon:hover span {
  color: #FFF;
}

/**
 * Panels
 * --------------------------------------------------
 */

/* Panels-V 1 */
.panel .panel-icon .fa {
  box-shadow: 0 0 0 2px #D770AD;
}

.panel .panel-icon .fa:after {
  background: #D770AD;
}

.panel:hover .panel-icon .fa {
  color: #D770AD;
}

.panel:hover .panel-info h3 {
   color: #D770AD;
}

/* Panels-V 2 */

.panel-2:hover h4 {
  color: #D770AD;
}

.panel-2 .panel-icon {
  box-shadow: 0 0 0 1px #D770AD;
}

.panel-2 .panel-fa:after {
  background: #D770AD;
}

.panel-2:hover .panel-icon {
  color: #D770AD;
}

/**
 * Testimonials
 * --------------------------------------------------
 */
#testimonials blockquote i {
  color: #FFF;
}


/**
 * Social Links
 * --------------------------------------------------
 */
#social-widget-footer a:hover,
#social-widget-header a:hover {
  color: #D770AD;
}

/**
 * --------------------------------------------------
 * Theme Features
 * --------------------------------------------------
 */

/**
 * Carousels
 * --------------------------------------------------
 */
.carousel-arrows .carousel-arrow-left:hover,
.carousel-arrows .carousel-arrow-right:hover {
  color: #D770AD;
}

/**
 * Buttons
 * --------------------------------------------------
 */
.btn-primary {
  background-color: #D770AD;
  *background-color: #D770AD;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #4FC1E9;
  *background-color: #4FC1E9;
}

.btn-link {
  color: #D770AD;
}

/**
 * Tabs
 * --------------------------------------------------
 */

/*Dropdown*/
.nav-tabs li.dropdown:hover > a {
  background: #f5f7fa;
}

/* Top Tabs */
.tabs-top > .nav-tabs > .active > a,
.tabs-top > .nav-tabs > .active > a:hover,
.tabs-top > .nav-tabs > .active > a:focus {
  border-top: 1px solid #D770AD;
}

/* Left Tabs */
.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover,
.tabs-left > .nav-tabs > .active > a:focus {
  border-left: 1px solid #D770AD;
}

/* Right Tabs */
.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover,
.tabs-right > .nav-tabs > .active > a:focus {
  border-right: 1px solid #D770AD;
}

/* Below Tabs */
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-bottom: 1px solid #D770AD;
}

/**
 * Labels, Badges, Alerts, Progress Bars, Hero, Wells
 * --------------------------------------------------
 */
.progress .bar {
  background-color: #D770AD;
}

.progress-striped .bar {
  background-color: #D770AD;
}

.well blockquote {
  border-color: #D770AD;
}

.well blockquote.pull-right {
  border-color: #D770AD;
}

/**
 * Our Team
 * --------------------------------------------------
 */
.team-social a:hover {
  color: #D770AD;
}

/**
 * Settings styles
 * --------------------------------------------------
 */

/* Background colors */
.bg-color-theme { background-color: #FFF; }

/* Text colors */
.text-color-theme { color: #434A54; }


@media (max-width: 979px) {
  /**
   * --------------------------------------------------
   * Menu
   * --------------------------------------------------
   */

  .navbar .brand {
    border-bottom: 2px solid #D770AD;
  }
  
  /* Dropdown menu */
  .nav-collapse .nav > li:focus > a,
  .nav-collapse .nav > li:hover > a,
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    color: #D770AD;
  }

}